# 1. Install and import libraries

In [41]:
import numpy as np
import pandas as pd
import cv2

import PIL
from PIL import Image
import matplotlib.pyplot as plt
%matplotlib inline

# 2. Read csv files

In [42]:
#list of 800+ color names with RGB values found online
#the color 'group' column is what I subjectively imputted for reference
#the brown, black, grey, nude color groups will be useful for filtering in the next notebook

colorname_df = pd.read_csv('../data/colors_group.csv')
colorname_df.head()

  color_name_underscore             color_name      hex    R    G    B group
0    air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168  blue
1   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143  blue
2  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193  blue
3       alabama_crimson        Alabama Crimson  #a32638  163   38   56   red
4            alice_blue             Alice Blue  #f0f8ff  240  248  255  blue

In [43]:
#define function to convert strings to arrays

def converter(instr):
    return np.fromstring(instr[1:-1],dtype=int,sep=' ')

In [44]:
#read csv and apply function to covert strings to array
#csv cannot save arrays hence the cluster centers saved previously would be in str format

cluster_df=pd.read_csv('../data/cluster_by_photo.csv',\
                       converters={'rgba_centers_2':converter, \
                                   'rgba_centers_3':converter, 'rgba_centers_4':converter})

In [45]:
cluster_df

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[152, 96, 96, 252, 193, 153, 158, 253]","[124, 75, 73, 250, 174, 119, 122, 253, 198, 16...","[164, 99, 99, 253, 179, 133, 138, 253, 102, 64..."
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[145, 132, 123, 253, 50, 48, 51, 251]","[152, 138, 129, 253, 45, 45, 48, 251, 115, 100...","[154, 141, 132, 253, 44, 44, 48, 251, 103, 89,..."
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[223, 208, 191, 253, 91, 72, 68, 253]","[75, 57, 58, 253, 193, 167, 141, 252, 238, 233...","[240, 237, 229, 253, 127, 108, 102, 253, 55, 3..."
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[184, 84, 61, 253, 64, 25, 20, 253]","[61, 25, 20, 253, 210, 51, 22, 252, 156, 114, ...","[38, 22, 19, 253, 219, 56, 23, 252, 159, 118, ..."
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[133, 56, 51, 250, 208, 172, 150, 251]","[67, 44, 42, 249, 208, 179, 161, 251, 194, 86,...","[203, 46, 48, 252, 214, 188, 172, 252, 186, 13..."
...,...,...,...,...,...,...,...,...,...
6832,../pictures/wo_background/xinlinnn/xinlinnn_20...,[0 0 0 ... 0 0 0],xinlinnn,2021-01-15,4,1,"[51, 35, 32, 241, 159, 135, 131, 241]","[37, 26, 25, 240, 175, 158, 155, 241, 129, 97,...","[117, 83, 74, 244, 34, 23, 23, 240, 195, 186, ..."
6833,../pictures/wo_background/xinlinnn/xinlinnn_20...,[0 0 0 ... 0 0 0],xinlinnn,2021-03-03,0,3,"[49, 33, 27, 253, 169, 149, 144, 252]","[152, 110, 92, 251, 36, 25, 22, 253, 176, 170,...","[177, 175, 181, 253, 31, 22, 20, 253, 167, 131..."
6834,../pictures/wo_background/xinlinnn/xinlinnn_20...,[0 0 0 ... 0 0 3],xinlinnn,2021-02-03,0,2,"[151, 39, 32, 247, 202, 160, 140, 248]","[189, 47, 35, 250, 201, 163, 143, 248, 73, 30,...","[174, 116, 94, 244, 213, 181, 164, 250, 195, 3..."
6835,../pictures/wo_background/xinlinnn/xinlinnn_20...,[0 0 0 ... 0 0 0],xinlinnn,2021-08-18,0,8,"[64, 47, 42, 253, 194, 165, 159, 253]","[212, 203, 208, 253, 45, 35, 34, 253, 174, 130...","[216, 213, 222, 253, 158, 111, 93, 254, 40, 32..."
6836,../pictures/wo_background/xinlinnn/xinlinnn_20...,[0 0 0 ... 0 0 0],xinlinnn,2021-01-31,0,1,"[198, 180, 178, 252, 113, 78, 69, 251]","[208, 196, 197, 253, 93, 63, 57, 252, 182, 152...","[78, 55, 50, 252, 215, 204, 206, 253, 190, 172..."

In [46]:
#def function to reshape the center array to 4 columns indicating RGBA
def reshape_center(x):
    x_array = x.reshape(-1, 4)
    return x_array

In [47]:
#apply reshape function to all the centers columns
cluster_df['rgba_centers_2'] = cluster_df['rgba_centers_2'].apply(reshape_center)
cluster_df['rgba_centers_3'] = cluster_df['rgba_centers_3'].apply(reshape_center)
cluster_df['rgba_centers_4'] = cluster_df['rgba_centers_4'].apply(reshape_center)
cluster_df.head()

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[[152, 96, 96, 252], [193, 153, 158, 253]]","[[124, 75, 73, 250], [174, 119, 122, 253], [19...","[[164, 99, 99, 253], [179, 133, 138, 253], [10..."
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[[145, 132, 123, 253], [50, 48, 51, 251]]","[[152, 138, 129, 253], [45, 45, 48, 251], [115...","[[154, 141, 132, 253], [44, 44, 48, 251], [103..."
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[[223, 208, 191, 253], [91, 72, 68, 253]]","[[75, 57, 58, 253], [193, 167, 141, 252], [238...","[[240, 237, 229, 253], [127, 108, 102, 253], [..."
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[[184, 84, 61, 253], [64, 25, 20, 253]]","[[61, 25, 20, 253], [210, 51, 22, 252], [156, ...","[[38, 22, 19, 253], [219, 56, 23, 252], [159, ..."
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[[133, 56, 51, 250], [208, 172, 150, 251]]","[[67, 44, 42, 249], [208, 179, 161, 251], [194...","[[203, 46, 48, 252], [214, 188, 172, 252], [18..."

In [48]:
#def functions to extract rgb info from rgba for each of the centers
#this is to extract rgb information from the first center
def extractrgb1(x):
    x_rgba = x[0]
    x_rgba = x_rgba[:-1]
    return x_rgba

In [49]:
#def functions to extract rgb info from rgba for each of the centers
#this is to extract rgb information from the second center
def extractrgb2(x):
    x_rgba = x[1]
    x_rgba = x_rgba[:-1]
    return x_rgba

In [50]:
#def functions to extract rgb info from rgba for each of the centers
#this is to extract rgb information from the third center
def extractrgb3(x):
    x_rgba = x[2]
    x_rgba = x_rgba[:-1]
    return x_rgba

In [51]:
#def functions to extract rgb info from rgba for each of the centers
#this is to extract rgb information from the fourth center
def extractrgb4(x):
    x_rgba = x[3]
    x_rgba = x_rgba[:-1]
    return x_rgba

In [52]:
#apply rgb extract function on all the centers, and create new columns to house them
#'center1_2' for example, refers to the first center of 2 clusters
cluster_df['center1_2'] = cluster_df['rgba_centers_2'].apply(extractrgb1)
cluster_df['center1_3'] = cluster_df['rgba_centers_3'].apply(extractrgb1)
cluster_df['center1_4'] = cluster_df['rgba_centers_4'].apply(extractrgb1)
cluster_df.head()

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4,center1_2,center1_3,center1_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[[152, 96, 96, 252], [193, 153, 158, 253]]","[[124, 75, 73, 250], [174, 119, 122, 253], [19...","[[164, 99, 99, 253], [179, 133, 138, 253], [10...","[152, 96, 96]","[124, 75, 73]","[164, 99, 99]"
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[[145, 132, 123, 253], [50, 48, 51, 251]]","[[152, 138, 129, 253], [45, 45, 48, 251], [115...","[[154, 141, 132, 253], [44, 44, 48, 251], [103...","[145, 132, 123]","[152, 138, 129]","[154, 141, 132]"
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[[223, 208, 191, 253], [91, 72, 68, 253]]","[[75, 57, 58, 253], [193, 167, 141, 252], [238...","[[240, 237, 229, 253], [127, 108, 102, 253], [...","[223, 208, 191]","[75, 57, 58]","[240, 237, 229]"
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[[184, 84, 61, 253], [64, 25, 20, 253]]","[[61, 25, 20, 253], [210, 51, 22, 252], [156, ...","[[38, 22, 19, 253], [219, 56, 23, 252], [159, ...","[184, 84, 61]","[61, 25, 20]","[38, 22, 19]"
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[[133, 56, 51, 250], [208, 172, 150, 251]]","[[67, 44, 42, 249], [208, 179, 161, 251], [194...","[[203, 46, 48, 252], [214, 188, 172, 252], [18...","[133, 56, 51]","[67, 44, 42]","[203, 46, 48]"

In [53]:
cluster_df['center2_2'] = cluster_df['rgba_centers_2'].apply(extractrgb2)
cluster_df['center2_3'] = cluster_df['rgba_centers_3'].apply(extractrgb2)
cluster_df['center2_4'] = cluster_df['rgba_centers_4'].apply(extractrgb2)
cluster_df.head()

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4,center1_2,center1_3,center1_4,center2_2,center2_3,center2_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[[152, 96, 96, 252], [193, 153, 158, 253]]","[[124, 75, 73, 250], [174, 119, 122, 253], [19...","[[164, 99, 99, 253], [179, 133, 138, 253], [10...","[152, 96, 96]","[124, 75, 73]","[164, 99, 99]","[193, 153, 158]","[174, 119, 122]","[179, 133, 138]"
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[[145, 132, 123, 253], [50, 48, 51, 251]]","[[152, 138, 129, 253], [45, 45, 48, 251], [115...","[[154, 141, 132, 253], [44, 44, 48, 251], [103...","[145, 132, 123]","[152, 138, 129]","[154, 141, 132]","[50, 48, 51]","[45, 45, 48]","[44, 44, 48]"
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[[223, 208, 191, 253], [91, 72, 68, 253]]","[[75, 57, 58, 253], [193, 167, 141, 252], [238...","[[240, 237, 229, 253], [127, 108, 102, 253], [...","[223, 208, 191]","[75, 57, 58]","[240, 237, 229]","[91, 72, 68]","[193, 167, 141]","[127, 108, 102]"
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[[184, 84, 61, 253], [64, 25, 20, 253]]","[[61, 25, 20, 253], [210, 51, 22, 252], [156, ...","[[38, 22, 19, 253], [219, 56, 23, 252], [159, ...","[184, 84, 61]","[61, 25, 20]","[38, 22, 19]","[64, 25, 20]","[210, 51, 22]","[219, 56, 23]"
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[[133, 56, 51, 250], [208, 172, 150, 251]]","[[67, 44, 42, 249], [208, 179, 161, 251], [194...","[[203, 46, 48, 252], [214, 188, 172, 252], [18...","[133, 56, 51]","[67, 44, 42]","[203, 46, 48]","[208, 172, 150]","[208, 179, 161]","[214, 188, 172]"

In [54]:
cluster_df['center3_3'] = cluster_df['rgba_centers_3'].apply(extractrgb3)
cluster_df['center3_4'] = cluster_df['rgba_centers_4'].apply(extractrgb3)
cluster_df.head()

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4,center1_2,center1_3,center1_4,center2_2,center2_3,center2_4,center3_3,center3_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[[152, 96, 96, 252], [193, 153, 158, 253]]","[[124, 75, 73, 250], [174, 119, 122, 253], [19...","[[164, 99, 99, 253], [179, 133, 138, 253], [10...","[152, 96, 96]","[124, 75, 73]","[164, 99, 99]","[193, 153, 158]","[174, 119, 122]","[179, 133, 138]","[198, 164, 168]","[102, 64, 61]"
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[[145, 132, 123, 253], [50, 48, 51, 251]]","[[152, 138, 129, 253], [45, 45, 48, 251], [115...","[[154, 141, 132, 253], [44, 44, 48, 251], [103...","[145, 132, 123]","[152, 138, 129]","[154, 141, 132]","[50, 48, 51]","[45, 45, 48]","[44, 44, 48]","[115, 100, 94]","[103, 89, 85]"
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[[223, 208, 191, 253], [91, 72, 68, 253]]","[[75, 57, 58, 253], [193, 167, 141, 252], [238...","[[240, 237, 229, 253], [127, 108, 102, 253], [...","[223, 208, 191]","[75, 57, 58]","[240, 237, 229]","[91, 72, 68]","[193, 167, 141]","[127, 108, 102]","[238, 233, 223]","[55, 37, 33]"
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[[184, 84, 61, 253], [64, 25, 20, 253]]","[[61, 25, 20, 253], [210, 51, 22, 252], [156, ...","[[38, 22, 19, 253], [219, 56, 23, 252], [159, ...","[184, 84, 61]","[61, 25, 20]","[38, 22, 19]","[64, 25, 20]","[210, 51, 22]","[219, 56, 23]","[156, 114, 98]","[159, 118, 101]"
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[[133, 56, 51, 250], [208, 172, 150, 251]]","[[67, 44, 42, 249], [208, 179, 161, 251], [194...","[[203, 46, 48, 252], [214, 188, 172, 252], [18...","[133, 56, 51]","[67, 44, 42]","[203, 46, 48]","[208, 172, 150]","[208, 179, 161]","[214, 188, 172]","[194, 86, 68]","[186, 137, 107]"

In [55]:
cluster_df['center4_4'] = cluster_df['rgba_centers_4'].apply(extractrgb4)
cluster_df.head()

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4,center1_2,center1_3,center1_4,center2_2,center2_3,center2_4,center3_3,center3_4,center4_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[[152, 96, 96, 252], [193, 153, 158, 253]]","[[124, 75, 73, 250], [174, 119, 122, 253], [19...","[[164, 99, 99, 253], [179, 133, 138, 253], [10...","[152, 96, 96]","[124, 75, 73]","[164, 99, 99]","[193, 153, 158]","[174, 119, 122]","[179, 133, 138]","[198, 164, 168]","[102, 64, 61]","[201, 169, 173]"
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[[145, 132, 123, 253], [50, 48, 51, 251]]","[[152, 138, 129, 253], [45, 45, 48, 251], [115...","[[154, 141, 132, 253], [44, 44, 48, 251], [103...","[145, 132, 123]","[152, 138, 129]","[154, 141, 132]","[50, 48, 51]","[45, 45, 48]","[44, 44, 48]","[115, 100, 94]","[103, 89, 85]","[135, 120, 112]"
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[[223, 208, 191, 253], [91, 72, 68, 253]]","[[75, 57, 58, 253], [193, 167, 141, 252], [238...","[[240, 237, 229, 253], [127, 108, 102, 253], [...","[223, 208, 191]","[75, 57, 58]","[240, 237, 229]","[91, 72, 68]","[193, 167, 141]","[127, 108, 102]","[238, 233, 223]","[55, 37, 33]","[208, 182, 155]"
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[[184, 84, 61, 253], [64, 25, 20, 253]]","[[61, 25, 20, 253], [210, 51, 22, 252], [156, ...","[[38, 22, 19, 253], [219, 56, 23, 252], [159, ...","[184, 84, 61]","[61, 25, 20]","[38, 22, 19]","[64, 25, 20]","[210, 51, 22]","[219, 56, 23]","[156, 114, 98]","[159, 118, 101]","[124, 34, 25]"
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[[133, 56, 51, 250], [208, 172, 150, 251]]","[[67, 44, 42, 249], [208, 179, 161, 251], [194...","[[203, 46, 48, 252], [214, 188, 172, 252], [18...","[133, 56, 51]","[67, 44, 42]","[203, 46, 48]","[208, 172, 150]","[208, 179, 161]","[214, 188, 172]","[194, 86, 68]","[186, 137, 107]","[66, 43, 41]"

In [56]:
#define function to get the closest color name to the 800+ pre-named colors
def get_color_names(x):
    minimum = 1000
    for i in range(len(colorname_df)):
        d = abs(x[0] - int(colorname_df.loc[i, 'R']))+abs(x[1] - int(colorname_df.loc[i, 'G']))+abs(x[2] - int(colorname_df.loc[i, 'B']))
        if d <= minimum:
            minimum = d
            cname = colorname_df.loc[i,'color_name']
    return cname

In [57]:
#define function to get the closest color name to the 800+ pre-named colors and hence color group
def get_color_groups(x):
    minimum = 1000
    for i in range(len(colorname_df)):
        d = abs(x[0] - int(colorname_df.loc[i, 'R']))+abs(x[1] - int(colorname_df.loc[i, 'G']))+abs(x[2] - int(colorname_df.loc[i, 'B']))
        if d <= minimum:
            minimum = d
            cgroup = colorname_df.loc[i,'group']
    return cgroup

In [58]:
#apply functions to get color name and group of each of the centers, and save in separate columns
#note: this query takes a long time to run
cluster_df['colorname1_2'] = cluster_df['center1_2'].apply(get_color_names)
cluster_df['colorgroup1_2'] = cluster_df['center1_2'].apply(get_color_groups)
cluster_df['colorname2_2'] = cluster_df['center2_2'].apply(get_color_names)
cluster_df['colorgroup2_2'] = cluster_df['center2_2'].apply(get_color_groups)
cluster_df['colorname1_3'] = cluster_df['center1_3'].apply(get_color_names)
cluster_df['colorgroup1_3'] = cluster_df['center1_3'].apply(get_color_groups)
cluster_df['colorname2_3'] = cluster_df['center2_3'].apply(get_color_names)
cluster_df['colorgroup2_3'] = cluster_df['center2_3'].apply(get_color_groups)
cluster_df['colorname3_3'] = cluster_df['center3_3'].apply(get_color_names)
cluster_df['colorgroup3_3'] = cluster_df['center3_3'].apply(get_color_groups)
cluster_df['colorname1_4'] = cluster_df['center1_4'].apply(get_color_names)
cluster_df['colorgroup1_4'] = cluster_df['center1_4'].apply(get_color_groups)
cluster_df['colorname2_4'] = cluster_df['center2_4'].apply(get_color_names)
cluster_df['colorgroup2_4'] = cluster_df['center2_4'].apply(get_color_groups)
cluster_df['colorname3_4'] = cluster_df['center3_4'].apply(get_color_names)
cluster_df['colorgroup3_4'] = cluster_df['center3_4'].apply(get_color_groups)
cluster_df['colorname4_4'] = cluster_df['center4_4'].apply(get_color_names)
cluster_df['colorgroup4_4'] = cluster_df['center4_4'].apply(get_color_groups)
cluster_df.head()

,image_list,rgba_list,instagram_handle,date_post,seq_post_samedate,month,rgba_centers_2,rgba_centers_3,rgba_centers_4,center1_2,...,colorname3_3,colorgroup3_3,colorname1_4,colorgroup1_4,colorname2_4,colorgroup2_4,colorname3_4,colorgroup3_4,colorname4_4,colorgroup4_4
0,../pictures/wo_background/ec24m/ec24m_2021-01-...,[ 0 0 0 ... 109 128 205],ec24m,2021-01-31,0,1,"[[152, 96, 96, 252], [193, 153, 158, 253]]","[[124, 75, 73, 250], [174, 119, 122, 253], [19...","[[164, 99, 99, 253], [179, 133, 138, 253], [10...","[152, 96, 96]",...,Pastel Pink,pink,Blast-Off Bronze,brown,English Lavender,purple,Deep Coffee,brown,Pale Chestnut,pink
1,../pictures/wo_background/ec24m/ec24m_2021-11-...,[0 0 0 ... 0 0 0],ec24m,2021-11-09,2,11,"[[145, 132, 123, 253], [50, 48, 51, 251]]","[[152, 138, 129, 253], [45, 45, 48, 251], [115...","[[154, 141, 132, 253], [44, 44, 48, 251], [103...","[145, 132, 123]",...,Dim Gray,grey,Cinereous,grey,Jet,black,Wenge,grey,Shadow,grey
2,../pictures/wo_background/ec24m/ec24m_2021-03-...,[0 0 0 ... 0 0 0],ec24m,2021-03-03,0,3,"[[223, 208, 191, 253], [91, 72, 68, 253]]","[[75, 57, 58, 253], [193, 167, 141, 252], [238...","[[240, 237, 229, 253], [127, 108, 102, 253], [...","[223, 208, 191]",...,Eggshell,white,Linen,white,Pastel Brown,brown,Bistre,black,Tan,nude
3,../pictures/wo_background/ec24m/ec24m_2021-06-...,[ 0 0 0 ... 8 8 30],ec24m,2021-06-29,1,6,"[[184, 84, 61, 253], [64, 25, 20, 253]]","[[61, 25, 20, 253], [210, 51, 22, 252], [156, ...","[[38, 22, 19, 253], [219, 56, 23, 252], [159, ...","[184, 84, 61]",...,Blast-Off Bronze,brown,Seal Brown,brown,Cg Red,red,Blast-Off Bronze,brown,Falu Red,red
4,../pictures/wo_background/ec24m/ec24m_2021-02-...,[0 0 0 ... 0 0 1],ec24m,2021-02-03,0,2,"[[133, 56, 51, 250], [208, 172, 150, 251]]","[[67, 44, 42, 249], [208, 179, 161, 251], [194...","[[203, 46, 48, 252], [214, 188, 172, 252], [18...","[133, 56, 51]",...,Dark Coral,brown,Persian Red,red,Pale Chestnut,pink,Light Taupe,brown,Bistre,black

In [59]:
#save to csv
cluster_df.to_csv('../data/cluster_colorname.csv', index = False)